.page-style{
    margin-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    transition: .25s ease all;
}

@media (screen-width: 1200px) {
    .page-style {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

@media (max-width: 900px) {
    .page-style {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 768px) {
    .page-style {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}