@page "/release-notes"
@inject HttpClient Http

@if (_isBusy)
{
    <MudGrid Class="d-flex justify-center" Style="height: 100vh; align-items: center;">
        <MudItem>
            <Loader />
        </MudItem>
    </MudGrid>
}
else
{
    <div class="page-style">
        <MudText Typo="Typo.h4"><b>🗂️ Clinic Pro Release Notes </b></MudText>
        <MudText Style="font-size: 20px;" Class="mb-5">
            Get to know the new features added to the system, and see how they work,
            with video tutorials, images, and demos so that you could get the best out of <b>Clinic Pro</b>
            Additionally, you can view release notes from previous versions so in case you're wondering how a feature works,
            or how to use something, you can rest assured that all the information you're looking for is there!
        </MudText>

        @foreach (ReleaseNote note in _releaseNotes)
        {
            <ReleaseNoteItem ReleaseNote="note" class="mt-5 mb-5" />
        }
    </div>
}

@code{
    private ReleaseNote[]? _releaseNotes;
    private bool _isBusy = true;

    protected override async Task OnInitializedAsync()
    {
        _releaseNotes = await Http.GetFromJsonAsync<ReleaseNote[]>("release-notes/version0-4.json");
        _isBusy = false;
    }
}