@inherits LayoutComponentBase

<main>
    <MudLayout>
        <MudAppBar Elevation="1" Color="Color.Dark">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
            <MudDrawerHeader>
                <MudText Typo="Typo.h5" Class="mt-1"><b>Al Waddah Clinic</b></MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
                <MudNavLink Href="/servers" Match="NavLinkMatch.Prefix">Servers</MudNavLink>
                <MudNavGroup Title="Settings" Expanded="false">
                    <MudNavLink Href="/users" Match="NavLinkMatch.Prefix">Users</MudNavLink>
                    <MudNavLink Href="/security" Match="NavLinkMatch.Prefix">Security</MudNavLink>
                </MudNavGroup>
                <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</main>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />