@inherits LayoutComponentBase

<main>
    <MudLayout>
        <MudAppBar Elevation="1" Color="Color.Primary">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
                           OnClick="@((e) => DrawerToggle())" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
            <MudDrawerHeader>
                <typography>
                    <MudText Typo="Typo.h5" Class="mt-1"><b>Clinic Pro</b></MudText>

                    <MudText Typo="Typo.body2" Inline="false"><b>Version 0.3</b> <MudChip Color="Color.Primary" Size="Size.Small" Variant="Variant.Outlined">BETA</MudChip></MudText>
                </typography>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard 🏡</MudNavLink>
                <MudNavGroup Title="Records" Expanded="true">
                    <MudNavLink Href="/patients/all" Match="NavLinkMatch.Prefix">Patients 🙍‍♂️🙍‍♀️</MudNavLink>
                    <MudNavLink Href="/appointments" Match="NavLinkMatch.Prefix">Appointments 🗓️</MudNavLink>
                </MudNavGroup>

                <MudNavLink Href="/release-notes" Match="NavLinkMatch.All">
                        <MudBadge Color="Color.Error"  Dot="true">
                            Release Notes 🗂️
                        </MudBadge>
                </MudNavLink>
                <AuthorizeView>
                    <NotAuthorized>
                        <MudNavLink Href="/user/login" Match="NavLinkMatch.Prefix">Login</MudNavLink>
                    </NotAuthorized>

                    <Authorized>
                        <MudContainer>
                            <MudButton Variant="Variant.Outlined" Color="Color.Error" @onclick="OpenLogoutDialog">Log Out</MudButton>
                        </MudContainer>
                    </Authorized>
                </AuthorizeView>
            </MudNavMenu>
        </MudDrawer>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</main>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }


    //Handle the log out
    [Inject] public IDialogService DialogService { get; set; } = default!;
    [Inject] public NavigationManager NavigationManager { get; set; } = default!;
    [Inject] public ILocalStorageService LocalStorage { get; set; } = default!;

    private async Task OpenLogoutDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("Header", "Confirm Logout");
        parameters.Add("Content", "Do you really want to log out of your account? If so, please click ok to confirm");
        parameters.Add("ButtonText", "Ok");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<Dialog>("Logout", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await LogoutAsync();
        }
    }

    private async Task LogoutAsync()
    {
        await LocalStorage.RemoveItemAsync("access_token");

        NavigationManager.NavigateTo("/user/login");

    }
}

<MudThemeProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />
<MudSnackbarProvider />