@page "/appointments/past"
@attribute [Authorize(Roles = "Admin")]

@if (_isBusy == true)
{
    <MudGrid Class="d-flex justify-center" Style="height: 100vh; align-items: center;">
        <MudItem>
            <Loader />
        </MudItem>
    </MudGrid>
}
else
{
    <MudContainer Class="mt-5">
        <MudItem Class="d-flex justify-space-between mb-5">
            <MudText Typo="Typo.h4">Upcoming appointments</MudText>

            <MudButton Variant="Variant.Outlined" Color="Color.Success" @onclick="GoToUpcomingAppointments">Past Appointments</MudButton>
        </MudItem>
        <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>Patient's Name</th>
                    <th>Appointment Day</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in appointments.Where(a => a.StartAt < DateTime.Now.AddDays(-1)).OrderBy(a => a.StartAt - DateTime.Now))
                {
                    <tr>
                        <td>@appointment.PatientName</td>
                        <td>@appointment.StartAt</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </MudContainer>
}
